.target:before {
    content: "☛";
}

.target:after {
    content: "☚";
}

.disabled {
    background: gray;
}

.fake_browser_button {
    border: solid 2px black;
}

#comicpage {
    width: 590px;
    height: 262px;
}

.tour_info, .tour_footer {
    border: black 1px solid;
    padding-left: 1em;
    padding-right: 1em;
}

.tour_page {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 700px;
}

.tour_footer {
    margin-bottom: 1em;
}
