body {
margin: 0px;
overflow: hidden;
}

.ui-dialog {
background-color: white;
border-color: black;
border-style: solid;
border-radius: 5px;
border-width: 2px;
}

.ui-dialog-titlebar {
background: lightGoldenrodYellow;
}

.ui-dialog-titlebar-close {
float: right;
}

.ui-dialog-content {
overflow: auto;
}

#archivedialog .page {
text-align: right;
min-width: 250px;
}

#reader {
    overflow-x: visible;
}

#reader iframe {
width: 100%;
height: 100%;
border: 0px;
}

.user,.nouser,#nextcomic,.script {
display: none;
}

.marker {
display: none;
font-family: courier;
font-size: small;
border-radius: 6px;
}

#currentpagemarker {
background: yellow;
color: green;
}

#bookmarkmarker {
background: red;
color: blue;
}

.beta {
font-size: 50%;
color: red;
vertical-align: top;
}

#pagecount {
min-width: 12ex;
display: inline-block;
}

#welcome {
background-color: white;
padding: 1ex;
}

#welcomebutton {
padding: 1px;
font-size: 70%;
}

#reader #next,#reader #prev {
visibility: hidden;
position: absolute;
}

#moreoptions {
position: absolute;
display: none;
z-index: 1;
top: 0px;
left: 0px;
background: white;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: black;
padding: 3px;
}

#navigation {
z-index: 2;
position: relative;
display: flex;
}

#navigation form {
    flex: auto;
}

#navigation #url {
    width: 100%;
}

#withfix input[type=text] {
width: 3em;
}

.ui-tooltip {
    width: 250px;
    z-index: 3;
    background: white;
    padding: 2px;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
}

.defaultHidden {
    display: none;
}

.selectBookmark:hover {
    background: yellow;
}

.thumbnail {
    width: 150px;
    height: 266px;
    border: 3px solid white;
}

.thumb-selected {
    border: 3px solid black;
}

#missingThumb {
    background: content-box radial-gradient(white, gray);
}

#thumbdialog {
    overflow-y: scroll;
}

#thumbdialog div {
    display: inline-block;
}

#container {
    position: relative;
}

#discover,#discover-next-nsfw {
    display: none;
}

.nsfw {
    filter: blur(2em);
}

#nsfw-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
}

#nsfw-container > div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

#nsfw-message {
    padding: 1em;
    max-width: 50%;
    background: white;
    color: black;
    border: 3px black;
}
