body#site-p
{
background-color: #eee;
}

#site-p .hiliteBG
{
background-color: #ddd;
border-color: #ddd;
}

#site-p div.main
{
background:#eee;
}

#site-p div#maincornerback {
background: #ddd;
}

#site-p.mobile #popup-container {
background: #eee;
}

#site-p.mobile #header svg.active {
    background: #eee;
}

#site-p .update-high {
    background: linear-gradient(215deg, white, white 6%, #eee 7%);
}

#site-p .update-mid {
    background: linear-gradient(215deg, #f6f6f6, #f4f4f4 7%, #eee 8%);
}

#site-p .update-high.hilite {
    background: linear-gradient(215deg, white, white 6%, yellow 7%);
}

#site-p .update-mid.hilite {
    background: linear-gradient(215deg, #f6f6f6, #f4f4f4 7%, yellow 8%);
}

#site-p.mobile #adbox > div {
    min-width: 100% !important;
}

#site-p.mobile #adbox img {
    width: 100%;
    height: auto;
}

body#site-t
{
background-color: #fff4ee;
}

#site-t .hiliteBG
{
background-color: #fed;
border-color: #fed;
}

#site-t div.main
{
background:#fff4ee;
}

#site-t div#maincornerback {
background: #fed;
}

#site-t.mobile #popup-container {
background: #fff4ee;
}

#site-t.mobile #header svg.active {
    background: #fff4ee;
}

#site-t .update-high {
    background: linear-gradient(215deg, white, white 6%, #fff4ee 7%);
}

#site-t .update-mid {
    background: linear-gradient(215deg, #fffaf6, #fffaf4 7%, #fff4ee 8%);
}

#site-t .update-high.hilite {
    background: linear-gradient(215deg, white, white 6%, yellow 7%);
}

#site-t .update-mid {
    background: linear-gradient(215deg, #fffaf6, #fffaf4 7%, yellow 8%);
}

body
{
color: black;
}

form {
    margin-bottom: 0px;
}

ul.plain {
    list-style: none;
}

body.not-mobile #bookmark-line {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
}

body.not-mobile #bookmark-line input[name="bookmark"] {
    flex: auto;
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}

body.not-mobile #bookmark-line button {
    margin-right: 0.5ex;
}

body.not-mobile #bookmark-line a[rel="help"] {
    margin-left: 1ex;
    margin-right: 1ex;
}

a img
{
border: 0px
}

p.infoStamps span:not(:first-child):before {
    content: " | ";
    padding: 1ex;
}

div.container
{
position: relative;
width: 100%;
}

div#header
{
color: black;
border-style: solid;
border-width: 1px;
overflow: auto;
min-height: 85px;
}

#banner
{
position: absolute;
top: -83px;
right: 0px;
width: 468px;
height: 83px;
}

#header .aa
{
position: relative;
display: inline-block;
}

#header img#site-logo
{
position: relative;
float:left;
margin-right:10%;
}

#header .aa img#site-logo
{
    margin-right: 170px;
}

#header h1
{
    margin-left: 10%;
}

#header .aa h1
{
    margin-left: 250px;
    position: absolute;
}

.header_autoad
{
    width: 768px;
    height: 90px;
}

@media(max-width: 1200px) {
    .header_autoad
    {
	display: none;
    }
}

div.sidebar
{
float: left;
width: 160px;
color: black;
}

div.control input[type=text], div.control input[type=password]
{
    width: 95%;
}

div.smallad
{
position: absolute;
top: 0px;
right: 0px;
}

#smalladbg
{
float: right;
width: 180px;
height: 150px;
}

div.control
{
padding-left: 5px;
}

#example
{
float: right;
}

ul.control
{
list-style-position: outside;
}

span.error
{
color: red;
}

span.message
{
color: green;
}

div.main
{
margin-left:160px;
padding-left:20px;
border-top-left-radius: 30px 20px;
min:height:200px;
}

div#maincornerback {
width: 250px;
height: 40px;
position: absolute;
background: #ddd;
z-index: -1;
}

input.login
{
padding-right: 0%;
margin-right: 5%;
right: 0%;
}

#loginsubmit
{
float:right;
margin-top:5px;
}

div.priv_settings
{
border: thick solid gray;
padding: 1%;
margin-right: 10px;
}

.plus, .minus, .reject
{
font: bold 12px "Courier New", Courier, fixed;
border-style: nothing;
border-width: 0px;
width: 1.7em;
pointer: pointer;
}

.minus
{
background: blue;
color: white;
}

.plus
{
background: red;
color: yellow;
}

.reject
{
background: black;
}

.rejected {
text-decoration: line-through;
}

div.list2
{
width: 49%;
float: left;
}

div.list3
{
width: 33%;
float: left;
}

div.list4
{
width: 24.9%;
float: left;
}

#piperka_list ol.wide
{
padding-left: 3.5em;
}

ul.list
{
list-style-type: none;
}

.update-info
{
font-size: small;
float: right;
margin-left: 0.5ex;
}

.schedule-letters
{
font-family: courier;
white-space: nowrap;
}

.schedule-letters .s0
{
color: #9999FF
}

.schedule-letters .s1
{
color: #9D99FA
}

.schedule-letters .s2
{
color: #A199F6
}

.schedule-letters .s3
{
color: #A699F1
}

.schedule-letters .s4
{
color: #AA99ED
}

.schedule-letters .s5
{
color: #AF99E8
}

.schedule-letters .s6
{
color: #B399E4
}

.schedule-letters .s7
{
color: #B899DF
}

.schedule-letters .s8
{
color: #BC99DB
}

.schedule-letters .s9
{
color: #C099D7
}

.schedule-letters .s10
{
color: #C599D2
}

.schedule-letters .s11
{
color: #C999CE
}

.schedule-letters .s12
{
color: #CE99C9
}

.schedule-letters .s13
{
color: #D299C5
}

.schedule-letters .s14
{
color: #D799C0
}

.schedule-letters .s15
{
color: #DB99BC
}

.schedule-letters .s16
{
color: #DF99B8
}

.schedule-letters .s17
{
color: #E499B3
}

.schedule-letters .s18
{
color: #E899AF
}

.schedule-letters .s19
{
color: #ED99AA
}

.schedule-letters .s20
{
color: #F199A6
}

.schedule-letters .s21
{
color: #F699A1
}

.schedule-letters .s22
{
color: #FA999D
}

.schedule-letters .s23
{
color: #FF9999
}

.schedule-letters span
{
margin-left: 0.2ex;
}

.paginate
{
padding-left: 20%;
}

.bottom
{
clear: left
}

ul.tags
{
list-style-type: none;
}

div.example
{
border-style: ridge;
float: right;
width: 25%;
margin-left: 3%;
clear: both;
}

.concrete_ex
{
border-style: ridge;
margin-left: 10%;
width: 80%;
}

.legalese
{
font-size: small;
}

#footer
{
clear:both;
margin-left: 160px;
}

div.related
{
float:right;
clear: right;
width: 25%;
}

table#crawlerr th {
text-align: left;
}

table#crawlerr td {
font-size: small;
}

#clickme:hover {
color:blue;
}

.script {
    display: none;
}

.scripthidden {
    visibility: hidden;
}

.odd {
    background-color: #cccccc;
}

span.category, span.epedia-entry {
    display: list-item;
    margin-left: 1em;
    list-style-type: none;
}

#epedias input {
    width: 40ex;
}

#epedias input:invalid {
    background: lightsalmon;
}

.urlbase {
    text-align: right;
}

.hilite {
    background: yellow;
    border-top-right-radius: 1.5em 1em;
}

.ui-dialog {
    background: white;
}

.ui-dialog-titlebar {
    background: orange;
}

.ui-dialog-titlebar-close {
    float: right;
}

.maincategory .description {
    font-size: small;
    margin-left: 1em;
}

span.diff span {
    margin-right: 1em;
}

#newin {
display: inline-block;
}

#readerchart {
width: 25%;
height: 300px;
float: right;
clear: right;
}

#alphabet_index {
margin-top: 0.5ex;
margin-bottom: 0.5ex;
}


#alphabet_index a {
padding-left: 0.2ex;
font-family: courier;
}

#quicksearch .ui-helper-hidden-accessible {
display: none;
}

.youcare {
font-weight: bold;
}

#piperka_list .followee {
font-size: small;
color: green;
margin-left: 0.5ex;
}

.permissiononly:after {
content: '*';
font-size: small;
}

.passiveuser {
opacity: 0.5;
}

#loginwith {
float: right;
}

.nsfw::after {
    color: red;
    content: "n";
    font-size: small;
}

#genentry-form input[type="text"] {
    width: 500px;
}

table.bordered td,th {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 3px;
}

#donation-platforms tr th:first-child {
    text-align: right;
}

.container .ui-tabs {
    float: left;
}

#ticket .ticket-entry {
    margin-bottom: 45px;
    padding: 4px;
    box-shadow: 6px 8px 3px gold;
    border: 2px solid black;
}

.existingarchive {
    color: darkgray;
}

#crawler_archives {
    clear: both;
}

#crawler_archives .current {
    font-style: italic;
}

#crawler_archives .bookmark_handle {
    cursor: grab;
}

#crawler_archives .ui-droppable-hover {
    background: yellow;
}

#crawler_archives .suggest.ui-droppable-active {
    background: lightgreen;
}

#menu {
    position: absolute;
    overflow: visible;
}

.nowrap {
    white-space: nowrap;
}

.thumbnail {
    width: 150px;
    height: 266px;
    border: 3px solid white;
}

.thumb-selected {
    border: 3px solid black;
}

#missingThumb {
    background: content-box radial-gradient(white, gray);
}

#thumbdialog {
    overflow-y: scroll;
}

#thumbdialog div {
    display: inline-block;
}

.marker {
display: none;
font-family: courier;
font-size: small;
border-radius: 6px;
}

#currentpagemarker {
background: yellow;
color: green;
}

#bookmarkmarker {
background: red;
color: blue;
}

.commaseparated :not(:last-child):after {
content: ',';
margin-right: 1ex;
}

.supportAuthor {
float: right;
margin-left: 1ex;
}

#othersite-updates {
    margin-bottom: 1em;
}

#expected-updates tr td.hour {
    white-space: nowrap;
}

#authors tr th:nth-child(1) {
    width: 40%;
}

#authors tr th:nth-child(2) {
    width: 60%;
}

body.mobile {
    margin: 0px 2px 0px 0px;
}

.mobile #piperka_list {
    font-size: large;
}

.mobile .sidebar {
    position: absolute;
    visibility: hidden;
}

.mobile #maincornerback {
    visibility: hidden;
}

.mobile #piperka_list ul {
    padding-left: 0px;
}

.mobile #piperka_list ol {
    padding-left: 2em;
}

.mobile #piperka_list li {
    padding: 0.1rem 0px 0.1rem;
}

.mobile #footer {
    margin: 1rem 0px 1rem;
}

.mobile {
    line-height: 1.4;
}

.mobile div.main {
    padding-left: 8px;
    margin-left: 0px;
}

.mobile table {
    line-height: 1.4;
}

.mobile div.container {
    padding-top: 65px;
    margin: 0px;
}

.mobile #header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 2;
    min-height: initial;
    overflow-y: hidden;
    border-width: 0px;
}

.mobile #header img {
    max-width: 40%;
    padding-top: 5px;
    max-height: 50px;
}

.mobile #header h1 {
    position: absolute;
    margin-left: 45%;
    margin-top: 0.2rem;
    font-size: 24px;
}

.mobile #unread-header {
    position: absolute;
    left: 40%;
    bottom: 0px;
    font-size: medium;
}

.mobile #menu-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20%;
    height: 60px;
    font-size: 60px;
    cursor: context-menu;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.mobile #menu-button text {
    width: 100%;
}

.mobile #menu-button circle {
    fill: red;
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    -ms-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

.mobile #menu-button circle.newcomics {
    opacity: 1;
}

.mobile #popup-container {
    margin-top: 60px;
    z-index: 1;
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    display: none;
    font-size: large;
}

.mobile #popup-container .control p > a {
    display: inline-block;
    width: 100%;
}

.mobile #popup-container #browseComics {
    display: flex;
}

.mobile #popup-container #browseComics > * {
    flex: auto;
}

.mobile #popup-container #browseComics > span#newcomics {
    flex: initial;
}

.mobile #popup-container .control a#loginwith {
    display: initial;
    width: initial;
}

.mobile .paginate {
    margin-top: 0.5rem;
}

.mobile #updates li {
    display: flex;
    padding-right: 0.3ex;
}

.mobile #updates li a {
    flex: auto;
}

.mobile #piperka_list .li {
    display: inline-flex;
    width: 90%;
}

.mobile #piperka_list .li a {
    flex: auto;
}

.mobile #page-controls {
    display: none;
}

.mobile #info-banner {
    width: 100%;
}

.mobile .related {
    float: initial;
    clear: initial;
    width: initial;
}

.mobile #readerchart {
    width: initial;
    float: initial;
    clear: initial;
}

.mobile input[type=text], .mobile textarea {
    width: 100%;
}

.mobile .ads-question button, .mobile #uncommittedMobileQuestion button {
    margin: 1ex;
}

.mobile #adbox {
    margin: 1em 0 1em -8px;
    width: calc(100% + 8px);
    height: 100px;
}

#site-p #hdr-float {
    height: 105px;
}

@media (max-width: 1140px) {
    #hdr-float {
	display: none;
    }
}
