<div class="related">
  <h4>Related</h4>
  <table>
    <tbody>
      <h:related>
	<tr h:rejectedClass="rejected">
	  <td><h:score/></td>
	  <td><a href="info.html?cid=${h:cid}"><h:title/></a></td>
	</tr>
      </h:related>
    </tbody>
  </table>
</div>
