<div id="sort_by">
  Sort by:
  <h:lnk type="name">Name</h:lnk>
  <h:lnk type="new">Date added</h:lnk>
  <h:lnk type="update">Last updated</h:lnk>
  <h:lnk type="hot">New subscriptions</h:lnk>
  <h:ifLoggedIn>
    <h:recommend>
      <h:canRecommend>
	<h:lnk type="recommend">Recommended</h:lnk>
      </h:canRecommend>
    </h:recommend>
  </h:ifLoggedIn>
  <h:isProfile>
    <h:lnk type="top">Most popular</h:lnk>
  </h:isProfile>
</div>
