<h:piperka title="All comics" minifiable="True">
  <h2>All <h:comicWord/>s</h2>
  <h:listing mode="Browse">
    <span id="page-controls">
      <h:sortOptions/>
      <div class="qsearch_container">
	<h:alphabetIndex/>
	<h:qSearch/>
	<h:hilightButton/>
      </div>
    </span>
  </h:listing>
</h:piperka>
