<h:piperka title="Fortune">
  <a href="fortune.html"><h2>Your fortune</h2></a>
  <pre><h:fortune>An error occurred when trying to run the fortune program.  How embarassing.</h:fortune></pre>
</h:piperka>
