<h:piperka title="Privacy policy">
  <h2>Privacy policy</h2>
  <p>
    <h:siteName/> does not store personally identifiable information
    on its users or visitors.  If you choose a recognizable user name
    or email for you account then it's on you.
  </p>
  <p>
    <h:comicWord capital="True"/> reading selections of
    <h:siteName/>'s users are private by default.  They are used in
    aggregate form for recommendations and other site features.
  </p>
  <p>
    <h:siteName/> does not use tracking cookies.  Cookies are used for
    site features like sessions for logged in users.  Just visiting
    the site without logging in sets no cookies.
  </p>
  <p>
    <h:siteName/> allows connecting accounts using OAuth2 with a
    number of service providers.  If you do so, <h:siteName/> will
    store the minimum amount of user data on its end.
  </p>
  <p>
    <h:siteName/> does not share users' emails or other preferences
    with anyone, if it can avoid it.  I'm not sure what legal action
    could make it necessary.  I can't absolutely guarantee that there
    could not be some data breach that would leak them but I don't
    think it likely.
  </p>
  <p>
    This privacy policy was not written by a lawyer.  I may update
    this if it is made necessary by new site features but the spirit
    of any new versions should remain the same.
  </p>
</h:piperka>
