<h:piperka title="Most popular ${h:comicWordWeb}s" minifiable="True">
  <h2>Most popular <h:comicWord web="True"/>s</h2>
  <h:listing mode="Top">
    <span id="page-controls">
      <div class="qsearch_container">
	<h:qSearch/>
      </div>
      <h:hilightButton/>
    </span>
  </h:listing>
</h:piperka>
